body {
    background-color:rebeccapurple
}

header {
    background-color: aliceblue;
    padding: 3%;
}

.logo{
    background-color: blue;
}

nav{
    background-color: bisque;
}

main{
    background-color: beige;
    width: 80%;
    margin-left: auto;
    margin right:auto
}

section{
    background-color: azure;
}

footer{
    background-color: aquamarine;
    padding: 3%;
}

h1, h2